<input type="text" name="search" #search>
<button (click)="performSearch(search)">search</button>
  <div class="row">
  <div class="col-md-2">
    <p>{{searchArray.owner}}</p>
  </div>
  <div class="col-md-6">
    <div *ngFor="let search of searchArray">
      <h4><a href="">{{search.full_name}}</a></h4>
      <p>{{search.description}}</p>
    </div>
   <!-- <h2>Public Profile</h2>
      <hr>
    <div>
      <label for="name"><strong>Name</strong></label><br>
      <input #name value="{{searchArray.name}}">
    </div>
   <div>
      <label for="email"><strong>Public Email</strong></label><br>
      <input #email value="{{searchArray.email}}">
    </div>
    <div>
      <label for="bio"><strong>Bio</strong></label><br>
      <input #email value="{{searchArray.bio}}">
    </div>
    <div>
      <label for="url"><strong>URL</strong></label><br>
      <input #url value="{{searchArray.blog}}">
    </div>
    <div>
      <label for="company"><strong>Company</strong></label><br>
      <input #company value="{{searchArray.company}}">
    </div>
    <div>
        <label for="location"><strong>Location</strong></label><br>
        <input #location value="{{searchArray.location}}">
    </div>
  </div>
  <div class="col-md-4">
    <img src="{{searchArray.avatar_url}}" alt="">
  </div> -->
</div>
   <!-- <ul>
    <a href="{{searchArray.repos_url}}"><li>repos</li></a>
   </ul>   -->