<button (click)="performSearch()">Fatahrez</button>
<div class="row">
  <div class="col-md-4">
    <img src="{{userArray.avatar_url}}" alt="">
    <h2>{{userArray.name}}</h2>
    <p>{{userArray.login}}</p>
    <br>
    <p>{{userArray.bio}}</p>
    <!-- <button class="button button-primary">Edit Bio</button> -->
    <hr>
    <p>{{userArray.company}}</p>
    <p>{{userArray.location}}</p>
      <a href="{{userArray.email}}">{{userArray.email}}</a><br>
      <a href="{{userArray.blog}}">{{userArray.blog}}</a>
  </div>
  <div class="col-md-6">
      <mat-card *ngFor="let search of searchArray">
        <mat-card-title><a href="{{search.html_url}}">{{search.full_name}}</a></mat-card-title>
        <mat-card-content><p>{{search.description}}</p></mat-card-content>
      </mat-card>
      <br>
  </div>
